server:
  port: 8081

spring:
  datasource:
    url: jdbc:sqlite:./warehouse.db
    driver-class-name: org.sqlite.JDBC
  sql:
    init:
      mode: always
      schema-locations: classpath:schema.sql
